<div id="wrapper">
  <nav role="navigation">
    <header role="banner">
      <a href="/"><img src=<%= asset_path("dhiman-logistics-logo.png") %> alt="Logo" width="50"></a>
      <%# <a>Dhiman Logistics</a> %>
    </header>
    <ul>
      <li><%= link_to "Warehouses", warehouses_path %></li>
      <li><%= link_to "Inventory Items", inventory_items_path %></li>
    </ul>
  </nav>
</div>
