table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  width: 80%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


header img {
  vertical-align: middle;
  margin-right: 10px;
  width: 150px;
}

header {
  display: inline-block;
}

nav {
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: right;
  padding: 0 20px;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container{
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content_heading{
  width: 80%;
}

.delete_button{
  background: none;
  border: none;
  display: inline;
}

.submit_button{
  text-align: center;
  margin: 30px;
}
